<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our experienced AI team helps businesses utilize its power for growth. Automating tasks, it frees up time for creative work and improves efficiency. AI transforms industries, driving innovation and unlocking new opportunities. At wordsens, we enable businesses to maximize this incredible technology</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
